@import "tailwindcss";

:root {
  --color-primary: #3f6634;
  --color-secondary: #b2edc5;
  --color-accent: #574d68;
  --color-white: #ffffff;
  --color-black: #000000;
}

.primary-bg{
   background: var(--color-primary);
}

.secondary-bg{
   background: var(--color-secondary);
}

.third-bg{
 background: var(--color-accent);
}

.white-bg{
  background-color: var(--color-white);
}

.black-bg{
  background-color: var(--color-black);
}

.primary-text{
  color:var(--color-primary);
}
.secondary-text{
  color:var(--color-secondary);
}
.third-text{
  color:var(--color-accent);
}

.black-text{
  color:#000000
}

.white-text{
  color: #ffffff;
}

button{
  cursor: pointer;
}